<h1 class="mb-5">All our Flats (<%= @flats.count %>) </h1>


<div class="d-flex justify-content-between flex-wrap">
  <% @flats.each do |flat| %>
    <div class='card shadow-sm mb-5 bg-white rounded' style="width: 18rem;">
      <img src="<%= flat.image_url %>" alt="image of the flat">
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <h6 class="card-subtitle mb-4 text-muted"><%= flat.address %></h6>
        <div class='d-flex'>
          <div><i class="fa-solid fa-people-group mr-3"></i><%= flat.number_of_guests %></div>
          <div class="mx-3"><i class="fa-solid fa-euro-sign"></i><%= flat.price_per_night %></div>
        </div>
      </div>

      <div class="card-footer d-flex justify-content-between">
        <%= link_to "More info", flat_path(flat), class:'card-link link-primary' %>
        <%= link_to "Edit", edit_flat_path(flat), class:'card-link link-warning' %>
        <%= link_to "Remove",
            flat_path(flat),
            data: {turbo_method: :delete, turbo_confirm: 'Sure?'},
        class:'card-link link-danger' %></p>
      </div>
    </div>
  <% end %>

</div>
<%=  unsplash_image_url(tags: 'flat-interior')%>
